.css-10vg0a6-MuiResponsiveChart-container {
    margin: 3rem 2rem;
    margin-left: 10%;
  }
  
  .resultBar h1 {
    text-align: center;
    /* margin: 3rem 2rem;
    margin-left: 7%; */
  }
  
  .resultBar {
    margin: 1rem;
  }