.App h1 {
    /* margin-left: 12%; */
    text-align: center;
    margin: 1rem auto;
  }
  
  .main {
    display: flex;
  }
  .info-container {
    width: 80%;
  }
  
  .p-info,
  .f-info,
  .c-info {
    /* width: 60%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
    padding: 1rem;
  }
  
  .personal,
  .family,
  .contact {
    margin: 1rem auto;
  }
  .p-head,
  .f-head,
  .c-head {
    font-weight: 900;
  }
  .row-1,
  .row-2,
  .row-3 {
    margin: 0.6rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row-1 div,
  .row-2 div,
  .row-3 div {
    width: 25%;
    min-width: 220px;
    word-wrap: break-word;
  }
  
  .photo {
    /* width: 20%; */
    height: 20rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .photo img {
    width: 90%;
    margin: 5%;
  }
  
  .photo h3 {
    text-align: center;
  }
  